g

.main-content {
    flex: 1;
}

.main-header {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #dee2e6;
}

.main-header h1 {
    font-size: 2.25rem;
    font-weight: 300; /* Fonte mais leve para um visual moderno */
    color: #343a40;
}

.main-header p {
    color: #6c757d;
    font-size: 1.1rem;
}

.btn-primary {
    background-color: #005A8C; /* Nosso azul corporativo */
    border-color: #005A8C;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.btn-primary:hover {
    background-color: #004a75;
    border-color: #00416a;
}

.btn-action {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}